Loan risk Summary.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "aa63648b-f21e-4a4e-a8f8-8cec8dea45f3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "fileSelector": "C:\\Users\\karth\\.n8n-files\\loans_cleaned.xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "437e8dd2-5d9e-4d3f-9de1-1ed6b9d8ec10",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "4076f874-53cb-484e-9c3b-5ee62e89584c",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "const data = items.map(i => i.json);\n\n// Total loans\nconst totalLoans = data.length;\n\n// Bad loans\nconst badLoans = data.filter(d => d.risk_flag == 1).length;\n\n// % Bad loans\nconst badLoanPct = (badLoans / totalLoans) * 100;\n\n// High risk grades (D, E, F)\nconst highRiskLoans = data.filter(d => ['D','E','F'].includes(d.grade)).length;\n\n// Avg interest rate\nconst avgInterest = data.reduce((sum, d) => sum + d.interest_rate, 0) / totalLoans;\n\n// Region-wise default %\nconst regionMap = {};\n\ndata.forEach(d => {\n  if (!regionMap[d.region]) {\n    regionMap[d.region] = { total: 0, bad: 0 };\n  }\n  regionMap[d.region].total += 1;\n  if (d.risk_flag == 1) regionMap[d.region].bad += 1;\n});\n\nconst regionRisk = Object.entries(regionMap).map(([region, val]) => ({\n  region,\n  default_pct: ((val.bad / val.total) * 100).toFixed(2)\n}));\n\nreturn [{\n  json: {\n    totalLoans,\n    badLoanPct: badLoanPct.toFixed(2),\n    highRiskLoans,\n    avgInterest: avgInterest.toFixed(2),\n    regionRisk\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "dc9cd7d2-f62b-44b6-9e7b-ee02bf697f25",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a senior risk analyst.  Analyze the loan portfolio and give a SHORT summary.  Data: - Total Loans: {{$json.totalLoans}} - Bad Loan %: {{$json.badLoanPct}}% - High Risk Loans: {{$json.highRiskLoans}} - Avg Interest Rate: {{$json.avgInterest}}% - Region Risk: {{JSON.stringify($json.regionRisk)}}  Instructions: - Answer in MAX 5 lines - Each line MUST start on a new line - Use this exact format with line breaks:  Overall Risk: ... Key Driver: ... High Risk Region: ... Insight: ... Recommendation: ...  IMPORTANT: Use line breaks between each line. Do NOT write in one sentence.",
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "message": "="
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        832,
        0
      ],
      "id": "dc707dc6-bcdf-4a30-8c92-4f37d456cd1b",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "openai/gpt-3.5-turbo",
        "options": {
          "maxTokens": 6000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        832,
        160
      ],
      "id": "48f04b3b-eaff-42f8-b509-54f8ef7ae420",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "EkegDfkoRe48mfky",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "karthikreddy3131@gmail.com",
        "subject": "Loan Risk Analysis Result",
        "message": "=Hello,  Here is the AI-based loan risk analysis:  {{$json.text}}  Regards,   Loan Risk AI System",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1184,
        0
      ],
      "id": "07a84f60-7037-42c0-b825-97d0b3fdff8f",
      "name": "Send a message",
      "webhookId": "1b253d9b-ff43-40d8-94c0-07d251275ae4",
      "credentials": {
        "gmailOAuth2": {
          "id": "QpOFTJtu3eomSpKZ",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1dfb6498-51fe-4f23-aa60-e25740a2064a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5ba5392cc2e6c080f33644b19f467ca97b7a85e48ab27f2d461746deb49b6ffe"
  },
  "id": "Kb2tn6ZqyowNoDjE",
  "tags": []
}